@import url(https://fonts.googleapis.com/css?family=Roboto:300);
.inner-row{
    height: 100vh;
}
.primaryColor{
    /* color: rgba(141,194,111,1); */
    color: #712CF9;
}
.form-box{
    background: #fff;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    margin-top: -16%;
}
.registration-form{
    display: none;
}
.skip{
    margin-top: 1%;
}
.skip a{
    font-size: 18px;
    margin-left: 81%;
    
}
.skip a:hover{
    color:grey;
}